<!DOCTYPE html>
<html lang="en" ng-app="madLib" ng-controller="controller">
<head>
  <meta charset="UTF-8">
  <title>Angular Mad Libs!</title>
  <link rel="stylesheet" href="css/main.css">
  <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
  <script src="https://code.angularjs.org/1.3.10/angular-messages.min.js"></script>
  <script src="js/madLib.js"></script>
</head>
<body>
  <section>
    <div class="header">
      <img src="img/mad-lib-happy-face.png" alt="Mad Lib Happy Face" class="smiley">
      <img src="img/ng-mad-libs-logo.png" alt="Mad Lib Logo" class="logo">
    </div><!-- - /header - -->
    <div class="page_wrap">
      <div class="input {{inputVisable}}">
        <input type="radio" ng-model="gender" ng-click="male()" value="male">Male</input>
        <input type="radio" ng-model="gender" ng-click="female()" value="female">Female</input>
        <p>Please provide the following words:</p>
        <form name="userSubmit" ng-submit="submit()">
          <table>
            <tbody>
              <tr>
                <td>Name:</td>
                <td><input type="text" name="name" ng-model="data.name" required/></td>
              </tr>
              <tr>
                <td>Job Title:</td>
                <td><input type="text" name="jobTitle" ng-model="data.jobTitle" required/></td>
              </tr>
              <tr>
                <td>Tedious Task:</td>
                <td><input type="text" name="tediousTask" ng-model="data.tediousTask" required/></td>
              </tr>
              <tr>
                <td>Dirty Task:</td>
                <td><input type="text" name="dirtyTask" ng-model="data.dirtyTask" required/></td>
              </tr>
              <tr>
                <td>Celebrity:</td>
                <td><input type="text" name="dirtyTask" ng-model="data.celebrity" required/></td>
              </tr>
              <tr>
                <td>Useless Skill:</td>
                <td><input type="text" name="uselessSkill" ng-model="data.uselessSkill" required/></td>
              </tr>
              <tr>
                <td>Adjective:</td>
                <td><input type="text" name="adjective" ng-model="data.adjective" required/></td>
              </tr>
              <tr>
                <td>Obnoxiuous Celebrity:</td>
                <td><input type="text" name="obnoxiuousCelebrity" ng-model="data.obnoxiuousCelebrity" required/></td>
              </tr>
              <tr>
                <td>Huge Number:</td>
                <td><input type="number" name="hugeNumber" ng-model="data.hugeNumber" required/></td>
              </tr>
              <tr>
                <td></td>
                <td><button type="submit">SUBMIT</button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div><!-- - /input - -->
      <div class="output {{outputVisable}}">
        <p>
          <span>{{data.name}}</span> was a <span>{{data.jobTitle}}</span> who loved technology. Although {{heShe}} loved parts of {{himHer}} job, {{heShe}} absolutely hated  <span>{{data.tediousTask}}</span> and <span>{{data.dirtyTask}}</span>. So, <span>{{data.name}}</span> met with {{himHer}} life mentor <span>{{data.celebrity}}</span> who told {{himHer}} to learn how to <span>{{data.uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span>{{data.uselessSkill}}</span> so {{heShe}} studied programming instead.
        </p>
        <p>
          What a great decision! With {{himHer}} new skills, <span>{{data.name}}</span> built a(n) <span>{{data.adjective}}</span> robot named <span>{{data.obnoxiuousCelebrity}}</span> that not only loved <span>{{data.dirtyTask}}</span> but did it <span>{{data.hugeNumber}}</span> times faster.
        </p>
        <button ng-click="reset()">RESET</button>
      </div><!-- - /output - -->
    </div><!-- - /page_wrap - -->
  </section>
</body>
</html>
